//configurado para el tema
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);
$principal:#4CBFDC;
$contraste:#40414D;
$blanc_menu:#f6f6f6;
$negro:#000;
$remplazo:#26272e;
